html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body{
    background-color: #393E46;
    max-width: 120rem;
    margin: 0 auto;
}

*, *:before,*:after{
    box-sizing: inherit;

}

h1{
    font-size:15rem;
    text-align:center;
    color: #4ECCA3;
    text-shadow: 0.5rem 0 #232931;
}

.container{
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content:center;
    align-items: center;
}

.player{
    display:grid;
    justify-content:center;
    align-items:center;

}

p{
    color: #4ECCA3;
    font-size:3rem;
    text-align: center;

}

.button{
    text-align:center;
    padding: 5rem 0;
}

.button button{
    font-size: 2rem;
    padding:2rem;
}

footer{
    text-align:center;
    font-size: 3rem;
    padding: 5rem;
}

img{
    width:100%;
}
